:root {
    --one: #261e5e;
    --two: #5e1e49;
    --three: #161a1e;
}

* {
    margin: 1;
    padding: 0;
}
/* APP */

body {
    /* background: var(--two); */
    background-image: url("./img/space1.jpg");
    /* background-repeat: no-repeat; */
    background-size: cover;
}

/* SEARCH */

.searchform {
    display: flex;
    justify-content: space-between;
    max-width: 500px;
    width: 100%;
    margin: 20px auto;
}

/* RESULTS */

.chart {
    padding: 20px;
    border: 1px solid black;
    border-radius: 10px;
    max-width: 100%;
    width: 1000px;
    margin: 20px auto;
    background-color: rgba(51, 48, 77, 0.8);
}

.legend {
    margin: 10px 20px;
    font-size: 1rem;
}

.legend p {
    margin: 0;
}

.legend-cloud {
    color: red;
}

.legend-humidity {
    color: rgb(255, 100, 0);
}

.legend-wind {
    color: rgb(255, 0, 225);
}

/* WELCOME */

#welcome p {
    margin-top: 25px;
    color: #b8b8b8;
    font-size: 1.2rem;
}

/* ABOUT */

#about p {
    margin-top: 25px;
    color: #b8b8b8;
    font-size: 1.2rem;
}

/* CONTACT */

#contact p {
    margin-top: 25px;
    color: #b8b8b8;
    font-size: 1.2rem;
}

/* FOOTER */

footer {
    background: #15032e;
    margin-top: 50px;
    border-top: 1px solid #555;
    text-align: center;
    color: rgb(187, 185, 185);
    padding: 10px;
}
